body {
  margin: 0;
  box-sizing: border-box;
  background-color: #e5e9eb;
  color: #606060;
  padding: 0;
}

section {
  margin: 0 auto;
}

.body-section {
  margin-top: 3.5rem;
}

.text-main {
  color: #019c7c;
}

.flex-1 {
  flex: 1;
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-main {
  background: #019c7c !important;
  color: white;
  transition: all 0.3s ease-in-out;
}
.btn-main:hover {
  color: #fff;
  filter: brightness(1.1);
}

.navbar {
  display: flex;
  border-bottom: 1px solid #ededed;
  /* li a{
      color:$mainGreen !important;
      margin: 0 .5rem;
      font-size: 1.15rem;
      transition:all .15s ease-in-out;
      &:hover{
          filter: brightness(1.15);
      }
  } */
}
.navbar i,
.navbar svg {
  font-size: 1.75rem;
  color: #019c7c;
  margin-left: 0.5rem;
  cursor: pointer;
}
.navbar .profile-container {
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
}
.navbar .profile-container img {
  height: 60px;
  border-radius: 999px;
  aspect-ratio: 1;
  object-fit: cover;
  margin-right: 1rem;
}
.navbar .profile-container .profile-name {
  font-size: 1.15rem;
  color: #019c7c;
}

.sidebar {
  background: #f8f9fa;
  color: #848484;
  min-height: 100vh;
  width: 14rem;
  min-width: 14rem;
}
.sidebar .sidebar-logo {
  max-width: 100%;
  width: 6.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
.sidebar .sidebar-element,
.sidebar .section-label {
  padding-left: 1.5rem !important;
  white-space: nowrap;
}
.sidebar .section-label {
  font-size: 0.1 0.15rem;
  color: #242424;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}
.sidebar .sidebar-element {
  display: flex;
  align-items: center;
  padding: 11px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease;
  font-size: 1.1rem;
}
.sidebar .sidebar-element i,
.sidebar .sidebar-element svg {
  margin-right: 1rem;
}
.sidebar .subelement {
  font-size: 0.85rem;
  padding: 5px;
}
.sidebar .subelement i,
.sidebar .subelement svg {
  display: none;
}
.sidebar .sidebar-section {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-section .section-header {
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  width: 200px;
  color: #7b8793;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar .sidebar-section .section-header span i,
.sidebar .sidebar-section .section-header span svg {
  padding-right: 0.8rem;
}
.sidebar .sidebar-section .section-header .fa-chevron-right {
  font-size: 0.7rem;
}
.sidebar .sidebar-section .section-header .rotate {
  transform: rotate(90deg);
}
.sidebar .sidebar-section .section-content {
  display: none;
}
.sidebar .selected-item {
  color: #019c7c;
  background-color: #019c7c24;
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 90%;
  font-weight: 500;
}

.searchbar-box {
  width: 100%;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.searchbar-box h1 {
  margin-bottom: 1.5rem;
}
.searchbar-box .searchbar-container {
  margin-top: 2.5rem;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.searchbar-box .searchbar-container .searchbar {
  border: 1px solid #dcdcdc;
  height: 3.5rem;
  width: 100%;
  max-width: 1280px;
  padding: 0 1.5rem;
  border-radius: 999px;
}
.searchbar-box .searchbar-container button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 85%;
  border-radius: 999px;
  aspect-ratio: 1;
}

.products-container {
  margin-top: 2.5rem;
}

.product-card {
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.product-card .product-information {
  padding: 1.5rem;
}
.product-card img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 0.5rem;
  min-height: 15rem;
  object-fit: cover;
}
.product-card .nombre {
  font-size: 1.15rem;
  color: #019c7c;
  line-height: 1.75rem;
}
.product-card .descripcion {
  margin-bottom: 0.25rem;
  max-height: 9rem;
  overflow: hidden;
}
.product-card .fecha i, .product-card .fecha svg {
  color: #019c7c;
  margin-right: 0.5rem;
}
.product-card:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.single-product-container {
  background: #fff;
  padding: 2.5rem;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
}
.single-product-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.single-product-container .row {
  align-items: center;
}
.single-product-container .product-info {
  padding: 1.5rem;
}
.single-product-container .product-info .prioridad i,
.single-product-container .product-info .prioridad svg {
  color: #019c7c;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
.single-product-container .product-info .nombre,
.single-product-container .product-info .descripcion,
.single-product-container .product-info .fecha {
  margin-bottom: 1.5rem;
}
.single-product-container .product-info .fecha i, .single-product-container .product-info .fecha svg {
  color: #019c7c;
  margin-right: 0.5rem;
}
.single-product-container .fa-arrow-left {
  font-size: 1.5rem;
}
.single-product-container .fa-arrow-left:hover {
  color: #019c7c;
}

#mis-licitaciones-section {
  width: 100%;
}
#mis-licitaciones-section .products-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
#mis-licitaciones-section .products-filter input {
  border: 1px solid #ededed;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  width: 15rem;
}

/*# sourceMappingURL=home.css.map */
