body {
  margin: 0;
  box-sizing: border-box;
  background-color: #e5e9eb;
  color: #606060;
  padding: 0;
}

section {
  margin: 0 auto;
}

.body-section {
  margin-top: 3.5rem;
}

.text-main {
  color: #019c7c;
}

.flex-1 {
  flex: 1;
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-main {
  background: #019c7c !important;
  color: white;
  transition: all 0.3s ease-in-out;
}
.btn-main:hover {
  color: #fff;
  filter: brightness(1.1);
}

.navbar {
  display: flex;
  border-bottom: 1px solid #ededed;
  /* li a{
      color:$mainGreen !important;
      margin: 0 .5rem;
      font-size: 1.15rem;
      transition:all .15s ease-in-out;
      &:hover{
          filter: brightness(1.15);
      }
  } */
}
.navbar i,
.navbar svg {
  font-size: 1.75rem;
  color: #019c7c;
  margin-left: 0.5rem;
  cursor: pointer;
}
.navbar .profile-container {
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
}
.navbar .profile-container img {
  height: 60px;
  border-radius: 999px;
  aspect-ratio: 1;
  object-fit: cover;
  margin-right: 1rem;
}
.navbar .profile-container .profile-name {
  font-size: 1.15rem;
  color: #019c7c;
}

.sidebar {
  background: #f8f9fa;
  color: #848484;
  min-height: 100vh;
  width: 14rem;
  min-width: 14rem;
}
.sidebar .sidebar-logo {
  max-width: 100%;
  width: 6.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
.sidebar .sidebar-element,
.sidebar .section-label {
  padding-left: 1.5rem !important;
  white-space: nowrap;
}
.sidebar .section-label {
  font-size: 0.1 0.15rem;
  color: rgb(36, 36, 36);
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}
.sidebar .sidebar-element {
  display: flex;
  align-items: center;
  padding: 11px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease;
  font-size: 1.1rem;
}
.sidebar .sidebar-element i,
.sidebar .sidebar-element svg {
  margin-right: 1rem;
}
.sidebar .subelement {
  font-size: 0.85rem;
  padding: 5px;
}
.sidebar .subelement i,
.sidebar .subelement svg {
  display: none;
}
.sidebar .sidebar-section {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-section .section-header {
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  width: 200px;
  color: #7b8793;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar .sidebar-section .section-header span i,
.sidebar .sidebar-section .section-header span svg {
  padding-right: 0.8rem;
}
.sidebar .sidebar-section .section-header .fa-chevron-right {
  font-size: 0.7rem;
}
.sidebar .sidebar-section .section-header .rotate {
  transform: rotate(90deg);
}
.sidebar .sidebar-section .section-content {
  display: none;
}
.sidebar .selected-item {
  color: #019c7c;
  background-color: rgba(1, 156, 124, 0.1411764706);
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 90%;
  font-weight: 500;
}

.searchbar-box {
  width: 100%;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.searchbar-box h1 {
  margin-bottom: 1.5rem;
}
.searchbar-box .searchbar-container {
  margin-top: 2.5rem;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.searchbar-box .searchbar-container .searchbar {
  border: 1px solid #dcdcdc;
  height: 3.5rem;
  width: 100%;
  max-width: 1280px;
  padding: 0 1.5rem;
  border-radius: 999px;
}
.searchbar-box .searchbar-container button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 85%;
  border-radius: 999px;
  aspect-ratio: 1;
}

.products-container {
  margin-top: 2.5rem;
}

.product-card,
.custom-box {
  background: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.custom-box {
  padding: 1rem;
}

.product-card .product-information {
  padding: 1.5rem;
}
.product-card img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 0.5rem;
  min-height: 15rem;
  object-fit: cover;
}
.product-card .nombre {
  font-size: 1.15rem;
  color: #019c7c;
  line-height: 1.75rem;
}
.product-card .descripcion {
  margin-bottom: 0.25rem;
  max-height: 9rem;
  overflow: hidden;
}
.product-card .fecha i, .product-card .fecha svg {
  color: #019c7c;
  margin-right: 0.5rem;
}
.product-card:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.single-product-container {
  background: #fff;
  padding: 2.5rem;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
}
.single-product-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.single-product-container .row {
  align-items: center;
}
.single-product-container .product-info {
  padding: 1.5rem;
}
.single-product-container .product-info .prioridad i,
.single-product-container .product-info .prioridad svg {
  color: #019c7c;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
.single-product-container .product-info .nombre,
.single-product-container .product-info .descripcion,
.single-product-container .product-info .fecha {
  margin-bottom: 1.5rem;
}
.single-product-container .product-info .fecha i, .single-product-container .product-info .fecha svg {
  color: #019c7c;
  margin-right: 0.5rem;
}
.single-product-container .fa-arrow-left {
  font-size: 1.5rem;
}
.single-product-container .fa-arrow-left:hover {
  color: #019c7c;
}

#mis-licitaciones-section {
  width: 100%;
}
#mis-licitaciones-section .products-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
#mis-licitaciones-section .products-filter input {
  border: 1px solid #ededed;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  width: 15rem;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 16, 16, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ripple {
  transform: scale(2.5);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid white;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.toggleable-box {
  width: 100%;
}
.toggleable-box .box-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.toggleable-box .box-header .header-item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: #838f9b;
  border-bottom: 1px solid #dee2e6;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toggleable-box .box-header .current {
  color: #2197ff !important;
  border-bottom: 1px solid;
}
.toggleable-box .box-body .active-option {
  display: block !important;
}

.toggleable-box .toggleable-content {
  display: flex;
  width: fit-content;
  cursor: pointer;
}
.toggleable-box .toggleable-content .toggleable-item {
  color: #636669;
  background: #fff;
  padding: 10px 2.5rem;
  width: fit-content;
  border: 1px solid #dcdcdc;
  border-width: 1px 1px 0 1px;
  margin-right: 0.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.toggleable-box .toggleable-content .active-item {
  background: #019c7c !important;
  color: white !important;
}
.toggleable-box .box {
  border-top: 3px solid #019c7c;
}
.toggleable-box .box-option {
  display: none;
  padding: 1.5rem 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid #ededed;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 0 0.5rem 0.5rem 0;
}
.toggleable-box .active-option {
  display: block !important;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}
.info-item label {
  min-width: 10rem;
}
.info-item input {
  flex: 1;
}

.custom-combobox .jqx-fill-state-pressed {
  color: rgb(1, 156, 124) !important;
  background-color: rgba(1, 156, 124, 0.14) !important;
  border: 1px solid #ededed !important;
}
.custom-combobox .jqx-fill-state-hover {
  border: 1px solid #ededed;
  background-color: #f5f5f5 !important;
}
.custom-combobox * {
  color: #606060 !important;
}

.noty_bar {
  color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 1rem;
  border-left: 12px solid;
  background: white;
  color: #606060;
}

.noty_type__success {
  border-color: #019c7c;
}
.noty_type__success .noty_body:before {
  color: #019c7c;
  content: "\f058";
}

.noty_type__warning {
  border-color: #ffc107;
}
.noty_type__warning .noty_body:before {
  color: #ffc107;
  content: "\f071";
}

.noty_type__danger {
  border-color: #dc3545;
}
.noty_type__danger .noty_body:before {
  color: #dc3545;
  content: "\f06a";
}

.noty_type__info {
  border-color: #007bff;
}
.noty_type__info .noty_body:before {
  color: #007bff;
  content: "\f05a";
}

.noty_body {
  position: relative;
  display: flex;
  align-items: center;
}
.noty_body:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1rem;
}

/*# sourceMappingURL=home.css.map */
