$mainGreen:#019c7c;
$lightGreen:#e5e9eb;

body{
    margin:0;
    box-sizing: border-box;
    background-color: $lightGreen;
    color: #606060;
    padding: 0;
}

.text-main{
    color: $mainGreen;
}

.btn-main{
    background: $mainGreen !important;
    color: white;
    transition:all .3s ease-in-out;
    &:hover{
        color:#fff;
        filter: brightness(1.1);
    }
}

.navbar{
    img{
        height: 90px;
    }

    li a{
        color:$mainGreen !important;
        margin: 0 .5rem;
        font-size: 1.15rem;
        transition:all .15s ease-in-out;
        &:hover{
            filter: brightness(1.15);
        }
    }
}

.products-container{
    margin-top:2.5rem;

    .products-filter{
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-bottom:1.5rem;
        input{
            border:1px solid #ededed;
            border-radius:.5rem;
            padding:.5rem;
            padding-left: 1.5rem;
            width: 15rem;
        }
    }

    .product-card{
        background:#fff;
        border-radius: .5rem;
        margin-bottom:1.5rem;
        cursor:pointer;
        transition:all .15s ease-in-out;

        .product-information{
            padding:1rem;
        }

        img{
            width: 100%;
            border-radius:.5rem .5rem 0 0;
            margin-bottom:.5rem;
            min-height: 15rem;
            object-fit:cover;
        }
        .nombre{
            font-size: 1.15rem;
            color: $mainGreen;
            line-height: 1.75rem;
        }
        .descripcion{
            margin-bottom: .25rem;
            max-height: 9rem;
            overflow:hidden;
        }

        .fecha{
            i,svg{
                color: $mainGreen;
                margin-right: .5rem;
            }
        }

        &:hover{
            box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
        }
    }
}


.single-product-container{
    background:#fff;
    padding:2.5rem;
    margin-top:2.5rem;
    border-radius:.5rem;
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius:.5rem;
    }

    .row{
        align-items: center;
    }
    .product-info{
        padding: 1.5rem;

        .nombre,
        .descripcion,
        .fecha{
            margin-bottom: 1.5rem;
        }

        .fecha{
            i,svg{
                color: $mainGreen;
                margin-right: .5rem;
            }
        }
    }

    .fa-arrow-left{
        font-size: 1.5rem;
        &:hover{
            color:$mainGreen;
        }
    }

}