//steps wizard

/*------------------------*/
input:focus,
button:focus,
.form-control:focus{
	outline: none;
	box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
	background-color: #fff;
}
/*----------step-wizard------------*/
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.align-items-center{
	align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
	background-color: #333;
}
.signup-step-container{
	padding: 115px 0px;
	padding-bottom: 60px;
}




    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 85px;
    text-align: center;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25px;
    //z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 50px;
    height: 50px;
    display:flex;
    align-items:center;
    justify-content:center;
    line-height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #019c7c;
    color: #fff;
    border-color: #019c7c;
    transition:all .3s ease-in-out;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	//color: #019c7c;
    color: white;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a h6{
	position: absolute;
    top: 65px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 26px;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.wizard .nav-tabs > li a i,
.wizard .nav-tabs > li a svg{
	//color: white;
    font-size: 1.15rem;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}
.prev-step,
.next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
.next-step{
	background-color: #019c7c;
    color: white;
}
.skip-btn{
	background-color: #cec12d;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
	font-size: 14px;
	font-weight: 400;
}




/* Planes */

.plans{
    .general-desc{
        text-align:center;
        margin-top:2.5rem;
        margin-bottom:2.5rem;
    }

    .plan{
        border:1px solid #dcdcdc;
        border-radius:1rem;
        padding:2.5rem;
        /* width:100%;
        max-width:25rem; */
        margin:1.5rem;
        .title{
            font-size:1.25rem;
            text-align:center;
            font-weight:bold;
        }
        .price{
            font-size:1.7rem;
            text-align:center;
            font-weight:bold;
            padding:1.5rem 0;
        }
        .benefits-list{
            margin:0 auto;
            display:block;
            margin-bottom:1.5rem;
            li{
                margin-bottom:1rem;
            }
        }
        .btn-main{
            margin: 0 auto;
            margin-bottom:1rem;
            display: block;
            width: 100%;
            border-radius:10rem;
        }
        .footer{
            text-align:center;
            font-size:.8rem;
        }
    }
}

.payment-box{
    max-width:40rem;
    margin:0 auto;
    border:1px solid #dcdcdc;
    border-radius:.5rem;
    padding:2.5rem;
    margin-bottom:2.5rem;
    .form-control{
        margin-bottom:1.5rem;
    }
    .label{
        margin-bottom:.25rem !important;
    }
    .btn{
        width:100%;
        padding:.5rem 0;
        margin:0;
        border-radius:10rem;
    }
    .payment-method{
        display:flex;
        justify-items:center;
        align-items:center;
        margin-bottom:1.5rem;
        .payment-option{
            background:#f5f5f5;
            border-radius:.5rem;
            width:50%;
            text-align:center;
            padding:.75rem;
            margin:.25rem;
            color:#019c7c;
            font-weight:bold;
            cursor:pointer;
            transition:all .3s ease-in-out;
        }
        .selected-option{
            background:#019c7c;
            color:white;
        }
    }
    .box-option{
        display:none !important;
    }
    .selected-box{
        display:block !important;
    }
}

.slick-prev:before, .slick-next:before{
    color: #325d54 !important;
    transform:scale(1.15);
}

.btn-main{
    background-color:#019c7c !important;
    color: white !important;
}