.custom-datatable{
    border-color: #ededed;

    
    th{
        background-color: #019c7c !important;
        color: white !important;
    }
    
    th, td{
        border:none !important;
        padding: 1rem;

    }

}

.dataTable.no-footer{
    border-color:#606060 !important;
}
.dataTables_wrapper{
    color:#606060;
    *{
        border-color: #ededed;
    }

    a.paginate_button.current{
        background-color: #019c7c !important;
        color: white !important;
        border-radius:.5rem;
        border:none;
    }

    .paginate_button:hover{
        filter: brightness(1.10);
        border: 1px solid ;
    }

    .dataTables_length{
        display:none;
    }
}