.custom-datatable{
    border-color: #ededed;

    
    th{
        background-color: #019c7c !important;
        color: white !important;
    }
    
    th, td{
        border:none !important
    }

}

.dataTable.no-footer{
    border-color:#606060 !important;
}
.dataTables_wrapper{
    color:#606060;
    *{
        border-color: #ededed;
    }

    .current{
        background-color: #019c7c !important;
        color: white !important;
        border-radius:.5rem;
        border:none;
    }

    .dataTables_length{
        display:none;
    }
}